<a href="https://colab.research.google.com/github/oussama016/text_mining/blob/main/source/Text_mining_project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
df=pd.read_csv("reviews.csv",header=0)
df.head()
# print(df["Commentaire"])
# df.columns

In [ ]:
df.columns

Index(['Unnamed: 0', 'Nombre d'étoiles', 'Commentaire', 'Date', 'Répondu'], dtype='object')

In [ ]:
df2=df.drop(["Nombre d'étoiles", 'Date', 'Répondu'],axis = 1)
df2

      Unnamed: 0                                        Commentaire
0              0  Juste ce qu'il faut.Pas évident de trouver en ...
1              1  Livraison correcte et complète.Bonsoir. Tout c...
2              2  Commande arrivée rapidement et en bon…Commande...
3              3  Bonne dans l’ensemble un peu plus de…Bonne dan...
4              4  Très contente de ma commandeTrès contente de m...
...          ...                                                ...
2395        2395  Livraison rapide et parfaiteLivraison rapide e...
2396        2396  Très bonne entrepriseBonjourTrès réactif et tr...
2397        2397  Envoi rapide et bonne qualité des…Envoi rapide...
2398        2398  Super sociétéSuper, efficace, respect des déla...
2399        2399  Produits conformes à la descriptionProduits co...

[2400 rows x 2 columns]

In [ ]:
!pip install nltk

In [ ]:
# nltk.download('punkt')
import nltk
from nltk import word_tokenize,sent_tokenize

In [ ]:
df = pd.DataFrame({'X': [1, 2, 3,],
                   'Y': [4, 1, 8]})
print(df)
modified_df=df.apply(lambda x: x**2)
print(modified_df)

In [ ]:
df2.to_csv("reviews2",header=0)
df3=pd.read_csv("reviews2",header = None)
df3.head()
#

   0  1                                                  2
0  0  0  Juste ce qu'il faut.Pas évident de trouver en ...
1  1  1  Livraison correcte et complète.Bonsoir. Tout c...
2  2  2  Commande arrivée rapidement et en bon…Commande...
3  3  3  Bonne dans l’ensemble un peu plus de…Bonne dan...
4  4  4  Très contente de ma commandeTrès contente de m...

In [ ]:
import nltk
nltk.download('punkt')
type(df3[2][0])
# a=df3[2][0]
# word_tokenize(a)
# df_tokenized= df3.apply(lambda x: x+"hello",axis=1 )
# df_tokenized.head()

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!

str